body{
    padding:20px;
}
.box{
    width:500px;
    padding:15px 10px;
    border:1px solid #ccc;
}
.table{
    border:1px solid #ccc;
}
.header{
    font-size:24px;
    height:50px;
    line-height: 50px;
    text-align: center;
    color:rgb(0, 194, 253);
    border-bottom: 1px dotted #ccc;
}

.tab{
    display: flex;
    border-bottom: 1px dotted #ccc;
}
.tab>div{
    width:50%;
    padding:10px;
    line-height:28px;
}

.tab>div>div:first-child{
    font-size:16x;
    color:rgb(0, 119, 255)
}

.tab>div>div:last-child{
    font-size:18px;
}

.body{
    padding:15px 20px;
}
.content{
    position: relative;
    height:55px;
    border: 1px solid #ccc;
    margin-bottom:5px;
}
.pic{
    height:50px;
    width:40px;
    margin-left:10px;
    background: url(./apple.png) no-repeat;
    background-size:cover;
}

.title{
    position:absolute;
    left:60px;
    top:10px;
    color:rgb(0, 194, 253);
}
.info{
    position:absolute;
    left:60px;
    top:27.5px;
}

.content>.btn{
    border-radius: 5px;
    width:70px;
    height:40px;
    line-height: 40px;
    text-align: center;
    background:rgb(0, 154, 201);
    color:white;
    position:absolute;
    top:8px;
    right:15px;
    cursor: pointer;
}

.content>.btn2{
    border-radius: 5px;
    width:70px;
    height:40px;
    line-height: 40px;
    text-align: center;
    background:rgb(201, 114, 0);
    color:white;
    position:absolute;
    top:8px;
    right:15px;
    cursor: pointer;
}

.btnSub{
    border-radius: 5px;
    width:100px;
    height:40px;
    line-height: 40px;
    text-align: center;
    background:rgb(54, 146, 0);
    color:white;
    margin:0 auto;
    margin-top:15px;
    cursor: pointer;
}

.btnSub2{
    border-radius: 5px;
    width:100px;
    height:40px;
    line-height: 40px;
    text-align: center;
    background:rgb(98, 104, 95);
    color:white;
    margin:0 auto;
    margin-top:15px;
    cursor: pointer;
}